*{
    color: #fff;
}

body{
    background-color: #000;
}

.bg{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,0,0, 0.75)), url("../../assets/images/b.jpg");
    background-size:cover;
    background-position:top;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
    font-weight: bold;
}


h2{
    font-size: 30px;
    font-weight:normal;
}


button{
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: 0.5s;
}

button:hover{
    color: #000;
    background-color: cyan;
    border: 1px solid #000;
}
.sec{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: -50px auto;
    opacity: 1;
}

.secnone{
    opacity: 0;
}

.sec1{
    opacity: 0;
    animation-name: sec1;
    animation-delay: 0.25s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.sec2{
    opacity: 0;
    animation-name: sec1;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.sec3{
    opacity: 0;
    animation-name: sec1;
    animation-delay: 0.75s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes sec1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes secs{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

section{
    display: flex;
    align-items: flex-start;
    background-color: rgb(248, 245, 245);
    height: auto;
    padding: 10px 30px;
}

section:nth-child(2){
    background-color: #000;
}


.sectionimg{
    min-width: 50px;
}
.sectionimg img{
    width: 50px;
    height: auto;
}


.contatosbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.contatosarea{
    background-color: #000;
    padding: 40px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.contatosredes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}

.contatosredes li{
    list-style-type: none;
    margin: 0px 10px;
    
}

.sendemail{
    margin: 20px 0px;
}

.pbutton{
    cursor: pointer;
}

.textanim{
    
}



@media (max-width: 1250px){
    .b3sec h1{
        font-size: 18px;
    }

    .b3sec p{
        font-size: 12px;
    }

    .sec{
        padding: 0px 10%;
        width: 100vw;
    }
}


@media( max-width: 900px){
    .sec{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .sec section{
        border-radius: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer{
        margin-top: 0rem;
        
    }

    .bg h1{
        font-size: 30px;
    }
    .bg h2{
        font-size: 20px;
    }
    .contatosarea{
        width: 60%;
    }
    .contatosbox h2{
        font-size: 20px;
    }

}


@media (max-width: 450px){
    .contatosarea{
        width: 80%;
    }
    .contatosbox h2{
        font-size: 16px;
    }
}


